Django>=4.2
djangorestframework
psycopg2-binary
python-dotenv
requests
django-filter
django-cors-headers
django-editorjs
django-editorjs2
django_editorjs_fields
model_bakery
pytest
pytest-django
drf-spectacular